
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import "custom";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.rd{
  background-color: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;

}

.rd:hover {
  background-color: #4CAF50; 
  color: white;
}